//header
.header-overlay {
    background-color: $main-color07;
    height: 100%;;
}
.block__left {
    .header-overlay {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: transparent;
    }
}
.logo-color {
    --st0:#0FA3B1;
    --st1:new;
    --st2:#FFFFFF;
    --st3:none;
    --st4:#fff;
}

	

.header {
    .wrap {
        display: flex;
    }
    background: $main-color url("../img/header-bg.jpg");
    background-size: cover;
    color: $white;
    height: 100vh;
    min-height: 790px;

    &__title {
        display: flex;
    }
    &__main {
        width: 86%;
        padding: 144px 0 144px 35px;
    }
    &__info {
        font-size: 12px;
        text-align: right;
        margin-top: 43px;
        display: flex;
        justify-content: flex-end;
        .title {
            text-transform: initial;
            font-size: 12px;
            margin-bottom: 3px;
        }
    }
    .marker {
        margin: -5px 10px;
        svg {
            fill: $white;
        }
    }

    
}

.lines {
    height: 23px;
    margin: 0 20px;
    border-left: 2px solid $white;
    position: relative;
    &:before, &:after {
        content: "";
        position: absolute;
        height: 100%;
        border-left: 2px solid $white;
    }
    &:before {
        left: -10px;
    }
    &:after {
        right: -8px;
    }
}
.logo-wrap {
    width: 100%;
    margin-bottom: 17px;
}
.logo {
   width: 181px;
   svg {
       width: 100%;
       height: 51px;
   }
}
.header__dates {
   font-family: $second-font;
   font-size: 14px;
   width: 14%;
   position: relative;
}
.dates__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 12px;
    text-align: center;
    min-width: 96px;
    &:last-child {
        margin-bottom: 0;
    }
    &.active {
        font-family: $main-title-font;
        border-radius: 21px;
        border-color: $white;
        background-color: $white;
        color: $main-color;
        position: relative;
        margin: 35px 0;
        .arrow {
            content: "";
            position: absolute;
            width: 7px;
            height: 7px;
            border: 2px solid $white;
            border-top: none;
            border-right: none;
            left: 50%;
            margin-right: -50%;
            cursor: pointer;
            &-top {
                
                top: -18px;

                transform: translate(-50%, 0) rotate(135deg);
            }
            &-bottom {
                bottom: -18px;
                transform: translate(-50%, 0) rotate(-45deg);
            }
        }
        
        
    }
}
.marker {
    width: 32px;
    height: 37px;
    svg {
        width: 100%;
        height: 100%;
    }
}
//registration__form
.registration__title {

    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    .title {
        padding: 50px;
        text-transform: uppercase;
        font-size: 14px;
        display: flex;
        align-items: center;
    }
    a {
        color: $white; 
    }
}
.login {
    padding: 50px;
    font-family: $second-font;
    &:hover {
        background: rgba(255, 255, 255, 0.4);
    }
}
.register {
    width: 17px;
    height: 17px;
    fill: $white;
    margin-right: 13px;
}
.registration__form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    flex-grow: 1;
    .tabs__caption {
        display: flex;
        justify-content: space-between;
        li {
            width: 49%;
            max-width: none;
        }
    }
    label {
        display: block;
        color: #7d838a;
        text-transform: uppercase;
        font-size: 10px;
        font-family: $latosb;
        margin-bottom: 8px
    }
    input {
        width: 100%;
        padding: 14px;
        color: $main-color;
        border-radius: 3px;
        &:active {
            border-color: #a0a3a5;
        }
            
    }
    .intl-tel-input {
        display: block;
    }
}
//tel
.iti-flag {
    background-image: url("../img/flags.png");
    // border-radius: 50%;
    // max-width: 11px;
}
.country-name {
    color: $main-color;
}
.intl-tel-input .country-list {
    max-width: 446px;
    overflow-x: hidden;
}

.form-line {
    margin-bottom: 20px;
}
.calendar {
   width: 15px;
   height: 15px;
   fill:  $main-color;
}
.date__gradient {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(80, 75, 71, 0.8),  transparent 10%, transparent 75%, rgba(80, 75, 71, 0.8) 100%);
}