header.wrap
	.menu-wrap
		.toggle-menu
			.span Menu

		nav.main-menu 
			.cross
				span.cross-line.cross--topper
				span.cross-line.cross--bottom

			ul
				li
					a(href="#") 1
				li
					a(href="#") 2
				li
					a(href="#") 3
				li
					a(href="#") 4					
				li
					a(href="#") 5
		.logo logo

	.header
		