section.partners
    .wrap
        .main-title Недвижимость у нас ищут
        ul.partners__wrap
            li
                img(src="img/partners/logo-pyatyorochka.png", alt="partners")
            li
                img(src="img/partners/logo-dns.png", alt="partners")
            li
                img(src="img/partners/logo-sportmaster.png", alt="partners")
            li
                img(src="img/partners/logo-magnit.png", alt="partners")
            li
                img(src="img/partners/logo-letual.png", alt="partners")
