.popup-bg
.globalform.wrap
    .popup-close Закрыть окно
    .wrap
        .check 
            .title выберите ритейлеров, на переговоры с которыми вы хотели бы попасть
            .tabs
                ul.tabs__caption.check__caption-items
                    li.check__caption-item.item--fashion.active Fashion
                    li.check__caption-item.item--diamond Ювелирные изделия и аксессуары
                    li.check__caption-item.item--abc-block Товары для детей
                    li.check__caption-item.item--shopping-cart Fmcg, алкоголь
                    li.check__caption-item.item--chef Food
                    li.check__caption-item.item--movie-tickets Развлечения
                    li.check__caption-item.item--cosmetics Красота и здоровье
                    li.check__caption-item.item--mobile-phone Бтиэ, мобильные устройства
                    li.check__caption-item.item--hammer-and-wrench Diy, household, мебель
                    li.check__caption-item.item--antidepressants Аптеки и оптики
                    li.check__caption-item.item--artist Хобби и канцтовары
                    li.check__caption-item.item--information Услуги

                .check__content-items.checkbox
                   
                    .tabs__content.active.check__content-item 
                        .checkbox__item
                            input(type="checkbox" name="familia"  value="familia" id="familia")
                            label(for="familia") Familia
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="tomTailor"  value="tomTailor" id="tomTailor")
                            label(for="tomTailor") Tom Tailor
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="conceptClub"  value="conceptClub" id="conceptClub")
                            label(for="conceptClub") Concept Club
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="kanzler"  value="kanzler" id="kanzler")
                            label(for="kanzler") KANZLER
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="jackWolfskin"  value="jackWolfskin" id="jackWolfskin")
                            label(for="jackWolfskin") Jack Wolfskin
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="antiga"  value="antiga" id="antiga")
                            label(for="antiga") Антига
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="play34"  value="play34" id="play34")
                            label(for="play34") 34PLAY
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="snowQueen"  value="ralfRinger" id="ralfRinger")
                            label(for="ralfRinger") Ralf Ringer
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="snowQueen"  value="snowQueen" id="snowQueen")
                            label(for="snowQueen") Снежная королева
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="footwearFamily"  value="footwearFamily" id="footwearFamily")
                            label(for="footwearFamily") Обувь для всей семьи
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="shop21"  value="shop21" id="shop21")
                            label(for="shop21") 21Shop
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="shoes21v"  value="shoes21v" id="shoes21v")
                            label(for="shoes21v") Обувь XXI века
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="baon"  value="baon" id="baon")
                            label(for="baon") BAON
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="charuel"  value="charuel" id="charuel")
                            label(for="charuel") Charuel
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="euroShoes"  value="euroShoes" id="euroShoes")
                            label(for="euroShoes") ЕвроОбувь
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="zenden"  value="zenden" id="zenden")
                            label(for="zenden") Zenden
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="melonFashionGroup"  value="melonFashionGroup" id="melonFashionGroup")
                            label(for="melonFashionGroup") Melon Fashion Group
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="mascotte"  value="mascotte" id="mascotte")
                            label(for="mascotte") Mascotte
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="incanto"  value="incanto" id="incanto")
                            label(for="incanto") Incanto
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="thomasMunz"  value="thomasMunz" id="thomasMunz")
                            label(for="thomasMunz") THOMAS MUNZ
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="alef"  value="alef" id="alef")
                            label(for="alef") Алеф
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="elis"  value="elis" id="elis")
                            label(for="elis") Elis
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="griol"  value="griol" id="griol")
                            label(for="griol") Griol
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="shoesTofa"  value="shoesTofa" id="shoesTofa")
                            label(for="shoesTofa") Дом обуви ТОФА
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="alfavit"  value="alfavit" id="alfavit")
                            label(for="alfavit") АЛФАВИТ
                                a(href="#").adress companywebsite.com
                        .checkbox__item
                            input(type="checkbox" name="kari"  value="kari" id="kari")
                            label(for="kari") Kari
                                a(href="#").adress companywebsite.com
                        
  
                    .tabs__content.check__content-item 2
                    .tabs__content.check__content-item 3
                    .tabs__content.check__content-item 4
                    .tabs__content.check__content-item 5
                    .tabs__content.check__content-item 6
                    .tabs__content.check__content-item 7
                    .tabs__content.check__content-item 8
                    .tabs__content.check__content-item 9
                    .tabs__content.check__content-item 10
                    .tabs__content.check__content-item 11
                    .tabs__content.check__content-item 12


        .choosen
            .title Выбранные
            ul.choosen__items
                li.choosen__item Familia
                    span.cross
                li.choosen__item Обувь для всей семьи
                    span.cross
                li.choosen__item Ralf Ringer
                    span.cross
                li.choosen__item Jack Wolfskin
                    span.cross
                li.choosen__item 34PLAY
                    span.cross
                li.choosen__item Incanto
                    span.cross
                li.choosen__item Алеф
                    span.cross
                li.choosen__item Griol
                    span.cross
                li.choosen__item АЛФАВИТ
                    span.cross
                li.choosen__item Zenden
                    span.cross
            a(href="#").btn.btn--transparent сохранить список