section.reviews
    .wrap
        .main-title Отзывы участников
        .reviews__wrap
            .reviews__slider
                .reviews-item__wrap
                    .reviews-item
                        .reviews-item__name Ольга Семенова
                        .reviews-item__foto
                            img(src="img/reviews/woman.jpg", alt="woman")
                        .reviews-item__company Название компании
                        .reviews-item__position Должность
                        .reviews-item__review 
                            div
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                        a(href="#").reviews-item__more
                            span Читать целиком
                        .reviews-item__video 
                            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
                                g
                                    path(d='M492,106.8c-18.5-22-52.6-30.9-117.8-30.9H137.7c-66.7,0-101.4,9.5-119.8,32.9\
                                    C0,131.6,0,165.2,0,211.7v88.6c0,90.1,21.3,135.8,137.7,135.8h236.6c56.5,0,87.8-7.9,108.1-27.3C503.1,389,512,356.5,512,300.3\
                                    v-88.6C512,162.6,510.6,128.8,492,106.8z M328.7,268.2l-107.4,56.1c-2.4,1.3-5,1.9-7.7,1.9c-3,0-5.9-0.8-8.6-2.4\
                                    c-4.9-3-8-8.4-8-14.1V197.8c0-5.8,3-11.1,7.9-14.1c4.9-3,11.1-3.2,16.2-0.5l107.4,55.8c5.5,2.8,8.9,8.5,8.9,14.6\
                                    C337.6,259.7,334.2,265.4,328.7,268.2z')
                            span Видеоотзыв
                .reviews-item__wrap
                    .reviews-item
                        .reviews-item__name Ольга Семенова
                        .reviews-item__foto
                            img(src="img/reviews/man.jpg", alt="man")
                        .reviews-item__company Название компании
                        .reviews-item__position Должность
                        .reviews-item__review 
                            div
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                        a(href="#").reviews-item__more
                            span Читать целиком
                        .reviews-item__video 
                            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
                                g
                                    path(d='M492,106.8c-18.5-22-52.6-30.9-117.8-30.9H137.7c-66.7,0-101.4,9.5-119.8,32.9\
                                    C0,131.6,0,165.2,0,211.7v88.6c0,90.1,21.3,135.8,137.7,135.8h236.6c56.5,0,87.8-7.9,108.1-27.3C503.1,389,512,356.5,512,300.3\
                                    v-88.6C512,162.6,510.6,128.8,492,106.8z M328.7,268.2l-107.4,56.1c-2.4,1.3-5,1.9-7.7,1.9c-3,0-5.9-0.8-8.6-2.4\
                                    c-4.9-3-8-8.4-8-14.1V197.8c0-5.8,3-11.1,7.9-14.1c4.9-3,11.1-3.2,16.2-0.5l107.4,55.8c5.5,2.8,8.9,8.5,8.9,14.6\
                                    C337.6,259.7,334.2,265.4,328.7,268.2z')
                            span Видеоотзыв
                .reviews-item__wrap
                    .reviews-item
                        .reviews-item__name Ольга Семенова
                        .reviews-item__foto
                            img(src="img/reviews/woman.jpg", alt="woman")
                        .reviews-item__company Название компании
                        .reviews-item__position Должность
                        .reviews-item__review 
                            div
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                        a(href="#").reviews-item__more
                            span Читать целиком
                        .reviews-item__video 
                            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
                                g
                                    path(d='M492,106.8c-18.5-22-52.6-30.9-117.8-30.9H137.7c-66.7,0-101.4,9.5-119.8,32.9\
                                    C0,131.6,0,165.2,0,211.7v88.6c0,90.1,21.3,135.8,137.7,135.8h236.6c56.5,0,87.8-7.9,108.1-27.3C503.1,389,512,356.5,512,300.3\
                                    v-88.6C512,162.6,510.6,128.8,492,106.8z M328.7,268.2l-107.4,56.1c-2.4,1.3-5,1.9-7.7,1.9c-3,0-5.9-0.8-8.6-2.4\
                                    c-4.9-3-8-8.4-8-14.1V197.8c0-5.8,3-11.1,7.9-14.1c4.9-3,11.1-3.2,16.2-0.5l107.4,55.8c5.5,2.8,8.9,8.5,8.9,14.6\
                                    C337.6,259.7,334.2,265.4,328.7,268.2z')
                            span Видеоотзыв
                .reviews-item__wrap
                    .reviews-item
                        .reviews-item__name Ольга Семенова
                        .reviews-item__foto
                            img(src="img/reviews/woman.jpg", alt="woman")
                        .reviews-item__company Название компании
                        .reviews-item__position Должность
                        .reviews-item__review 
                            div
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                        a(href="#").reviews-item__more
                            span Читать целиком
                        .reviews-item__video 
                            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
                                g
                                    path(d='M492,106.8c-18.5-22-52.6-30.9-117.8-30.9H137.7c-66.7,0-101.4,9.5-119.8,32.9\
                                    C0,131.6,0,165.2,0,211.7v88.6c0,90.1,21.3,135.8,137.7,135.8h236.6c56.5,0,87.8-7.9,108.1-27.3C503.1,389,512,356.5,512,300.3\
                                    v-88.6C512,162.6,510.6,128.8,492,106.8z M328.7,268.2l-107.4,56.1c-2.4,1.3-5,1.9-7.7,1.9c-3,0-5.9-0.8-8.6-2.4\
                                    c-4.9-3-8-8.4-8-14.1V197.8c0-5.8,3-11.1,7.9-14.1c4.9-3,11.1-3.2,16.2-0.5l107.4,55.8c5.5,2.8,8.9,8.5,8.9,14.6\
                                    C337.6,259.7,334.2,265.4,328.7,268.2z')
                            span Видеоотзыв
                .reviews-item__wrap
                    .reviews-item
                        .reviews-item__name Ольга Семенова
                        .reviews-item__foto
                            img(src="img/reviews/woman.jpg", alt="woman")
                        .reviews-item__company Название компании
                        .reviews-item__position Должность
                        .reviews-item__review 
                            div
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                        a(href="#").reviews-item__more
                            span Читать целиком
                        .reviews-item__video 
                            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
                                g
                                    path(d='M492,106.8c-18.5-22-52.6-30.9-117.8-30.9H137.7c-66.7,0-101.4,9.5-119.8,32.9\
                                    C0,131.6,0,165.2,0,211.7v88.6c0,90.1,21.3,135.8,137.7,135.8h236.6c56.5,0,87.8-7.9,108.1-27.3C503.1,389,512,356.5,512,300.3\
                                    v-88.6C512,162.6,510.6,128.8,492,106.8z M328.7,268.2l-107.4,56.1c-2.4,1.3-5,1.9-7.7,1.9c-3,0-5.9-0.8-8.6-2.4\
                                    c-4.9-3-8-8.4-8-14.1V197.8c0-5.8,3-11.1,7.9-14.1c4.9-3,11.1-3.2,16.2-0.5l107.4,55.8c5.5,2.8,8.9,8.5,8.9,14.6\
                                    C337.6,259.7,334.2,265.4,328.7,268.2z')
                            span Видеоотзыв
                .reviews-item__wrap
                    .reviews-item
                        .reviews-item__name Ольга Семенова
                        .reviews-item__foto
                            img(src="img/reviews/woman.jpg", alt="woman")
                        .reviews-item__company Название компании
                        .reviews-item__position Должность
                        .reviews-item__review 
                            div
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                        a(href="#").reviews-item__more
                            span Читать целиком
                        .reviews-item__video 
                            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
                                g
                                    path(d='M492,106.8c-18.5-22-52.6-30.9-117.8-30.9H137.7c-66.7,0-101.4,9.5-119.8,32.9\
                                    C0,131.6,0,165.2,0,211.7v88.6c0,90.1,21.3,135.8,137.7,135.8h236.6c56.5,0,87.8-7.9,108.1-27.3C503.1,389,512,356.5,512,300.3\
                                    v-88.6C512,162.6,510.6,128.8,492,106.8z M328.7,268.2l-107.4,56.1c-2.4,1.3-5,1.9-7.7,1.9c-3,0-5.9-0.8-8.6-2.4\
                                    c-4.9-3-8-8.4-8-14.1V197.8c0-5.8,3-11.1,7.9-14.1c4.9-3,11.1-3.2,16.2-0.5l107.4,55.8c5.5,2.8,8.9,8.5,8.9,14.6\
                                    C337.6,259.7,334.2,265.4,328.7,268.2z')
                            span Видеоотзыв
                .reviews-item__wrap
                    .reviews-item
                        .reviews-item__name Ольга Семенова
                        .reviews-item__foto
                            img(src="img/reviews/woman.jpg", alt="woman")
                        .reviews-item__company Название компании
                        .reviews-item__position Должность
                        .reviews-item__review 
                            div
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                        a(href="#").reviews-item__more
                            span Читать целиком
                        .reviews-item__video 
                            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
                                g
                                    path(d='M492,106.8c-18.5-22-52.6-30.9-117.8-30.9H137.7c-66.7,0-101.4,9.5-119.8,32.9\
                                    C0,131.6,0,165.2,0,211.7v88.6c0,90.1,21.3,135.8,137.7,135.8h236.6c56.5,0,87.8-7.9,108.1-27.3C503.1,389,512,356.5,512,300.3\
                                    v-88.6C512,162.6,510.6,128.8,492,106.8z M328.7,268.2l-107.4,56.1c-2.4,1.3-5,1.9-7.7,1.9c-3,0-5.9-0.8-8.6-2.4\
                                    c-4.9-3-8-8.4-8-14.1V197.8c0-5.8,3-11.1,7.9-14.1c4.9-3,11.1-3.2,16.2-0.5l107.4,55.8c5.5,2.8,8.9,8.5,8.9,14.6\
                                    C337.6,259.7,334.2,265.4,328.7,268.2z')
                            span Видеоотзыв
                