section.way
    .wrap
        .main-title 
            | Самый 
            span удобный способ 
            | решать ваши задачи 
        .way__wrap
            .way__item
                .way__logo
                    img(src="img/icons/clock.svg", alt="clock")
                .way__descr
                    .way__title Экономия времени
                    .way__text
                        span За один день 
                        | вы проводите переговоры, на организацию которых в обычных условиях ушло бы 
                        span не меньше месяца.
            .way__item
                .way__logo
                    img(src="img/icons/contact.svg", alt="clock")
                .way__descr
                    .way__title Уникальные контакты
                    .way__text
                        | На одной площадке в один день собираются 
                        span все нужные люди 
                        | из столицы и регионов. 
            .way__item
                .way__logo
                    img(src="img/icons/mutual_interest.svg", alt="clock")
                .way__descr
                    .way__title Взаимный интерес
                    .way__text
                        | Сюда приходят только люди 
                        span с активными потребностями: 
                        | в развитии или арендаторах.